.contact-box {
    display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap; 
    gap: 1rem;

}

.contact h1 {
    margin-top: 50px;
}

.form{
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;

}

.form h3 {
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;
    padding-bottom: 20px;
}

.row h4 {
    font-size: 30px;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 15px;
    color: white;
    text-transform: none;
}

.row h4 span {
    text-decoration: none;
}

.form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background:var(--black);
    border: var(--border);
}

.form .inputBox span  {
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.inputBox span i {
    background: none;
}

.form .inputBox input {
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
    background:none;
}

.contact-icon {
    align-items: center;
    margin-right: 20px;
    gap: 5rem;
    text-transform: none;
    margin-left: 5px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 45rem;
}

.contact-icon .list {
    list-style: none;
    font-size: 2rem;
    margin-right: 10px;
    text-transform: none;
    color: #d3ad7f;
}

.list i {
    font-size: 2rem;
    color: white;
    text-transform: none;
    line-height: 2;
    margin-right: 5px;
}

/* From Uiverse.io by wang3616359git */ 
.bt {
    border: none;
    user-select: none;
    font-size: 15px;
    color: white;
    text-align: center;
    background-color: #d3ad7f;
    box-shadow: #cacaca 1px 1px 2px 1px;
    border-radius: 12px;
    height: 40px;
    line-height: 10px;
    width: 100px;
    transition: all 0.2s ease;
    position: relative;
  }
  
  .msg {
    height: 0;
    width: 0;
    border-radius: 2px;
    position: absolute;
    left: 15%;
    top: 25%;
  }
  
  .bt:active {
    transition: all 0.001s ease;
    background-color: #d3ad7f;
    box-shadow: #97989a 0 0 0 0;
    transform: translateX(1px) translateY(1px);
  }
  
  .bt:hover .msg {
    animation: msgRun 2s forwards;
  }
  
  @keyframes msgRun {
    0% {
      border-top: #d6d6d9 0 solid;
      border-bottom: #f2f2f5 0 solid;
      border-left: #f2f2f5 0 solid;
      border-right: #f2f2f5 0 solid;
    }
  
    20% {
      border-top: #d6d6d9 14px solid;
      border-bottom: #f2f2f5 14px solid;
      border-left: #f2f2f5 20px solid;
      border-right: #f2f2f5 20px solid;
    }
  
    25% {
      border-top: #d6d6d9 12px solid;
      border-bottom: #f2f2f5 12px solid;
      border-left: #f2f2f5 18px solid;
      border-right: #f2f2f5 18px solid;
    }
  
    80% {
      border-top: transparent 12px solid;
      border-bottom: transparent 12px solid;
      border-left: transparent 18px solid;
      border-right: transparent 18px solid;
    }
  
    100% {
      transform: translateX(150px);
      border-top: transparent 12px solid;
      border-bottom: transparent 12px solid;
      border-left: transparent 18px solid;
      border-right: transparent 18px solid;
    }
  }

  .row .map {
    flex: 1 1 auto;
    width:100vw;
    }


@media (max-width: 1200px) {
    .contact-icon {
        flex: 1 1 100%;
        margin-top: 10px;
        gap: 3rem;
    }
}
   

@media (max-width: 992px) {
    .contact-icon {
        flex-direction: column;
        gap: 2rem;
        margin-right: 0;
    }

    .contact-icon .list {
        font-size: 1.6rem;
        margin-right: 0;
    }

    .list i {
        font-size: 1.6rem;
    }
}

@media (max-width: 768px) {

    .contact-icon {
        margin-top: 15px;
        gap: 1.5rem;
    }

    .contact-icon .list {
        font-size: 1.4rem;
    }

    .list i {
        font-size: 1.4rem;
    }
}


@media (max-width: 576px) {
    .contact-icon {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 10px;
        gap: 1rem;
    }

    .contact-icon .list {
        font-size: 1.2rem;
        margin-right: 0;
    }

    .list i {
        font-size: 1.2rem;
    }

}