.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
    backdrop-filter: blur(10px);
}

.header a {
    width: 10px;
    height: 35px;
}

.header a img {
    width: 10px;
  transition: .2s ease-in-out;
}

.header a img:hover {
    transform: scale(1.1)
}


.navbar a {
    margin:0 2rem;
    font-size: 1.9rem;
    color: #ddd9d3;
    font-weight: 550;
  
}

.navbar a:hover {
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.icone div {
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.icone div:hover {
    color: var(--main-color);
}

#menu-btn {
    display: none;
}

header .search-form {
    position: absolute;
    top: 115%; 
    right: 7%;
    background: #f4f0f0;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.2s ease-in-out;
}

header .search-form.active {
    transform: scaleY(1);
}

header .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
    
}

header .search-form label {
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--black);
}


.header .search-form label:hover {
    color: var(--main-color);
}
