.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/main5.png) no-repeat ;
    background-size: cover;
    background-position: center;
}

.home .content {
    max-width: 60rem;
}

.home .content h3 {
   font-size:4rem;
   text-transform: uppercase;
   color: #fff;
   margin-left: 20px;
   text-align: ;
   margin-bottom: 15px;
   line-height:1.4;
}

.content h2 {
    font-size:4rem;
    color: #fff;
    margin-left: 10px;
    text-align: center;


}

 .content p {
    font-size: 1.3rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: #ebdddd;
    margin-left: 20px;
    max-width: 60rem;
}

.content .btn {
    background-color: var(--main-color);
    margin: 20px;
    width: 50px;
    height: 50px;
}

span {
    color: #d3ad7f;
    text-transform: uppercase;
    border-bottom: 2px solid;
    
}

.social-icons {
    gap: 20px;
    margin-left: 20px;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding: 1rem;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 0.5rem;
    transition: 0.3s ease-in-out;
}

.social-icons a:hover {
    color: var(--text-color);
    background-color: var(--main-color);
    transform: scale(1.2) translateY(-5px);
    box-shadow: 0 0 8px var(--main-color);
}


@media (max-width: 991px) {
    .home .content {
        max-width: 90%;
    }

    .home .content h3,
    .home .content h2 {
        font-size: 3.5rem;
    }

    .home .content p {
        font-size: 1.5rem;
    }

    .social-icons {
        justify-content: center;
    }

    .home {
        min-height: 100vh;
        display: flex;
        align-items: center;
        background: url(images/main.jpg) no-repeat ;
        background-size: cover;
        background-position:center;
    }
}

@media (max-width: 768px) {
    .home .content h3,
    .home .content h2 {
        font-size: 3rem;
    }

    .home .content p {
        font-size:1.5rem;
    }

    .social-icons a {
        font-size: 2.5rem;
        padding: 0.8rem;
    }
}

@media (max-width: 450px) {
    .home .content h3,
    .home .content h2 {
        margin-top: -80px;
        font-size: 2.2rem;
    }

    .home .content p {
        font-size: 1.5rem;
    }

    .home .content .btn {
        padding: 8px 16px;
        font-size: 1.5rem;
    }

    .social-icons a {
        font-size: 2.5rem;
        padding: 0.6rem;
    }
}

