:root {
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #010103;
    --border: .1rem solid rgba(255, 255, 255, .3);
}

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding: 9rem;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: .8rem;
}

::-webkit-scrollbar-track {
    background: var(--main-color);
}

::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 5rem;
}

body {
    background: var(--bg);
}





            /* button add to card  */
.button {
    --width: 100px;
    --height: 35px;
    --tooltip-height: 35px;
    --tooltip-width: 90px;
    --gap-between-tooltip-to-button: 18px;
    --button-color:#d3ad7f;;
    --tooltip-color: #060606;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: right;
    border-radius: 0.45em;
    font-family: "Arial";
    transition: background 0.3s;
    margin-left: 2px;
    text-align: center;
  }
  
  .button::before {
    position: absolute;
    content: attr(data-tooltip);
    width: var(--tooltip-width);
    height: var(--tooltip-height);
    background-color: #555;
    font-size: 1rem;
    color: #fff;
    border-radius: .25em;
    line-height: var(--tooltip-height);
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
    left: calc(50% - var(--tooltip-width) / 2);
  }
  
  .button::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #555;
    left: calc(50% - 10px);
    bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
  }
  
  .button::after,.button::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
  
  .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-wrapper,.text,.icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
  }
  
  .text {
    top: 0
  }
  
  .text,.icon {
    transition: top 0.5s;
  }
  
  .icon {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icon svg {
    width: 24px;
    height: 24px;
  }
  
  .button:hover {
    background: #222;
  }
  
  .button:hover .text {
    top: -100%;
  }
  
  .button:hover .icon {
    top: 0;
  }
  
  .button:hover:before,.button:hover:after {
    opacity: 1;
    visibility: visible;
  }
  
  .button:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
  }
  
  .button:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
  }
  
  
  
        /* menu */

.menu .box-container {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-left: 20rem;
    /* margin-right: 40px; */
    background:url(images/menubg.jpg);
    align-items: center;
    align-content: center;

}

.box-container .box {
    padding: 5rem;
    text-align: center;
    border: var(--border);
    border-radius: 20px;
    margin-bottom: 20px;
    margin-right: 40px;
    margin-left: 40px;
    transition: .2s ease-in-out;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width:50rem;
    height: 15rem; 

}

.box:hover {
    transform: scale(1.1);
    background: #1e1d1d;
    border: 2px solid var(--main-color);

}

.box-container .box img {
    height: 10rem;
    border-radius: 20px;
    transition: .2s ease-in-out;
    width: 80px;
    align-items: left;
    margin-right: 20px;
}



.box-container .box h3 {
    color: #FFF;
    font-size: 1.3rem;
    padding: 1rem 0;
    margin-right: 5px;
    margin-left: 5px;
    width: 95px;

}

.box-container .box .price  {
    color: #FFF;
    font-size: 2rem;
    padding: .5rem 0;
    margin-bottom: 10px;


}

.box-container .box .price span {
    color: #FFF;
    font-size:1rem;
    text-decoration: line-through;

}



/* .btm {
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    color: #0c0c0c;
    font-weight: 600;
    background: var(--main-color);
    cursor: pointer;
    text-align: center;
    border-radius: 25px;
} */

/* .btm:hover {
    background:white;
} */

@media (max-width: 1200px) {
    .box-container {
        gap: 1.5rem;
    }

    .box {
        max-width: 250px;
    }

    .menu .heading {
        font-size: 3rem;
    }

    .menu .heading span {
        font-size: 3rem;
    }

.box-container .box {
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width:50rem;
  height: 15rem;

}

.menu .box-container{
  margin-left: 20px;
  margin-right:20px ;
}
}

@media (max-width: 900px) {
    .box-container {
        gap: 1rem;
    }

    .box {
        max-width: 200px;
    }

    .menu .heading {
        font-size: 2.5rem;
    }

    .menu .heading span {
        font-size: 2.5rem;
    }
}

@media (max-width: 600px) {
    .box-container {
        flex-direction: column;
        align-items: center;
    }

    .box {
        max-width: 100%;
    }

    .menu .heading {
        font-size: 2rem;
    }

    .menu .heading span {
        font-size: 2rem;
    }
}
